.imageB0 {
  border-radius: 10px;
  background-color:#000000;
  width:500px;
  height:500px;
  transform: translate(0,170q);
}
.imageBSxP {
  border-radius:5px;
  background-color:#FFFFFF;
  position: relative;
  transform: translate(0,0q);
}
