.center {
  position: absolute;
  left: 50%;
  transform: translate(-22em,-55q);
  height: 41px;
}
.menu {
  background-image: url("../images/banner1.png");
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
ul:hover {
  overflow: visible;
}
li {
  position: relative;
  float: left;
  background-color: rgba(255, 226, 148, 0.40);
  transition-duration: 0.2s;
}
li:hover {
  background-color: rgba(255, 221, 128, 0.65);
  transition-duration: 0.2s;
}
li a {
  display: block;
  padding: 10px 20px;
  color: #2a5574;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}
/* second level */
ul ul {
  max-height: 0;
  transition: max-height 1s;
}
ul li:hover ul {
  max-height: 170px;
}
ul ul li {
  float: none;
  background-color: rgba(232, 42, 0, 0.40);
  transition-duration: 0.5s;
}
ul ul li:hover {
  background-color: rgba(163, 0, 0, 0.65);
  transition-duration: 0.5s;
}

/* third level */
ul ul ul {
    background-image: url("../images/banner1.png");
  position: absolute;
  width: 0;
  top: 0;
  left: 100%;
  transition: width 1s;
}
ul ul li:hover ul {
  width: 130%;
}
ul ul ul li {
  background-color: rgba(214, 137, 56, 0.40);
  transition-duration: 0.5s;
}
ul ul ul li:hover {
  background-color: rgba(214, 123, 26, 0.65);
  transition-duration: 0.5s;
}

p {
  transform: translate(0,120q);
}
