.center {
  position: absolute;
  left: 50%;
  transform: translate(-22em,-55q);
  height: 41px;
}
.menu {
  background: url("../images/banner1.png") 1904px 250px repeat-x;
  -webkit-animation-name: MOVE-BG;
  -webkit-animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  height: 41px;
}

@-webkit-keyframes MOVE-BG {
  from {
    background-position: 0 0
  }
  to {
    background-position: -600% 0
  }
}

/* first level */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
ul:hover {
  overflow: visible;
}
li {
  position: relative;
  float: left;
  background-color: rgba(255, 233, 182, 0.16);
  transition-duration: 0.2s;
}
li:hover {
  background-color: rgba(255, 221, 128, 0.4);
  transition-duration: 0.2s;
}
li a {
  display: block;
  padding: 10px 20px;
  color: #00a3cf;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}
/* second level */
ul ul {
  max-height: 0;
  transition: max-height 1s;
}
ul li:hover ul {
  max-height: 170px;
  box-shadow: 2px 2px 2px rgba(243, 130, 0, 0.4);
}
ul ul li {
  float: none;
  background-color: rgb(243, 130, 0);
  transition-duration: 0.5s;
  box-shadow: 2px 2px 2px rgba(243, 130, 0, 0.4);
}
ul ul li:hover {
  background-color: rgb(243, 130, 0);
  transition-duration: 0.5s;
  box-shadow: 2px 2px 2px rgba(243, 130, 0, 0.6);
}

/* third level */
ul ul ul {
  position: absolute;
  width: 0;
  top: 0;
  left: 100%;
  transition: width 1s;
}
ul ul li:hover ul {
  width: 130%;
  box-shadow: 2px 2px 2px rgba(206, 115, 0, 0.4);
}
ul ul ul li {
  background-color: rgb(171, 89, 2);
  transition-duration: 0.5s;
  box-shadow: 2px 2px 2px rgba(206, 115, 0, 0.4);
}
ul ul ul li:hover {
  background-color: rgb(171, 89, 2);
  transition-duration: 0.5s;
  box-shadow: 2px 2px 2px rgba(206, 115, 0, 0.6);
}

p {
  transform: translate(0,120q);
}
